@model ProductVM

<div class="card shadow border-0 mt-4">
    <div class="card-header bg-secondary bg-gradient py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">Create Product</h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4">

        <form method="post" class="row" enctype="multipart/form-data">
            <div class="row">
                <div class="col-10">
                    <div class="border p-4">
                        @* <div asp-validation-summary="All"></div> *@
                        <div class="mb-2 ">
                            <label class="p-1">Product Name</label>
                            <input asp-for="Product.Title" class="form-control shadow" />
                            <span asp-validation-for="Product.Title" class="text-danger"></span>
                        </div>
                        <div class="mb-2">
                            <label asp-for="Product.Description" class="p-1"></label>
                            <input asp-for="Product.Description" class="form-control shadow" />
                            <span asp-validation-for="Product.Description" class="text-danger"></span>
                        </div>
                        <div class="mb-2">
                            <label asp-for="Product.ISBN" class="p-1"></label>
                            <input asp-for="Product.ISBN" class="form-control shadow" />
                            <span asp-validation-for="Product.ISBN" class="text-danger"></span>
                        </div>
                        <div class="mb-2">
                            <label asp-for="Product.Author" class="p-1"></label>
                            <input asp-for="Product.Author" class="form-control shadow" />
                            <span asp-validation-for="Product.Author" class="text-danger"></span>
                        </div>
                        <div class="mb-2">
                            <label asp-for="Product.ListPrice" class="p-1"></label>
                            <input asp-for="Product.ListPrice" class="form-control shadow" />
                            <span asp-validation-for="Product.ListPrice" class="text-danger"></span>
                        </div>
                        <div class="mb-2">
                            <label asp-for="Product.Price" class="p-1"></label>
                            <input asp-for="Product.Price" class="form-control shadow" />
                            <span asp-validation-for="Product.Price" class="text-danger"></span>
                        </div>
                        <div class="mb-2">
                            <label asp-for="Product.Price50" class="p-1"></label>
                            <input asp-for="Product.Price50" class="form-control shadow" />
                            <span asp-validation-for="Product.Price50" class="text-danger"></span>
                        </div>
                        <div class="mb-2">
                            <label asp-for="Product.Price100" class="p-1"></label>
                            <input asp-for="Product.Price100" class="form-control shadow" />
                            <span asp-validation-for="Product.Price100" class="text-danger"></span>
                        </div>
                        <div class="mb-2">
                            <label asp-for="Product.CategoryId" class="p-1"></label>
                            @*  <select asp-for="Product.CategoryId" asp-items="ViewBag.CategoryList" class="form-select shadow"> *@
                            @* <select asp-for="Product.CategoryId" asp-items="@ViewData["CategoryList"] as IEnumerable<SelectListItem>" class="form-select shadow"> *@
                            <select asp-for="Product.CategoryId" asp-items="@Model.CategoryList" class="form-select shadow">
                                <option disabled selected>--Select Category--</option>
                            </select>
                            <span asp-validation-for="Product.CategoryId" class="text-danger"></span>
                        </div>
                        <div class="mb-2">
                            <label asp-for="Product.ImageUrl" class="p-1"></label>
                            <input type="file" name="file" asp-for="Product.ImageUrl" class="form-control shadow" />
                        </div>
                        <div class="row">
                            <div class="col-6 col-md-3">
                                <button type="submit" class="btn btn-primary" style="width:150px">Create</button>
                            </div>
                            <div class="col-6 col-md-3">
                                <a asp-controller="Product" asp-action="Index" class="btn btn-secondary border form-control">Back to List</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-2">
                    <img src="@Model.Product.ImageUrl" width="100%" style="border-radius:5px; border:1px solid white"
                </div>
            </div>
            
        </form>
    </div>
 </div>


    @* To Enable Client side validation *@
    @section Scripts {
        @{
            <partial name="_ValidationScriptsPartial" />
        }
    }
